@charset "UTF-8";
/* CSS Document */

body {
	font-family: Ariel, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	background-color: #87CEEB;
}

.container {
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
	text-align: center;
	color: #333;
}

#temperature-info-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#result {
	margin: 20px;
	font-size: 18px;
	text-align: center;
}

.button {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 5px;
}
